span{
    color: green;
}

span2{
    color: red;
}

.bar{
    display: flex;
    background-color: rgb(231, 247, 176);
}

ul1{
    margin-left: 50px;
    margin-top: 35px;
    display: flex;
    column-gap: 50px;
    list-style: none;
}