<html>
    <head>
        <title>Receive</title>
    </head>

    <body>
        이름 : <%=name%> <br>
        연도 : <%=year%> <br>
        성별 : <%=gender%> <br>
        스포츠 : <%=sport%> 
    </body>
</html>

<!-- 터미널에서 node index.js를 한 다음 
    입력칸에 정보를 입력하고 전송을 누르면 localhost:8080/receive가 뜨면서 위의 값이 나온다. -->