<html>
    <head>
        <title>Axios</title>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function sendPost(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/receive",
                    data:{
                        name: "codee"
                    }
                }).then((response)=>{console.log(response);});

            }
        </script>
    </head>
    <body>
        <form action="/receive">
            <button type="button" onclick="sendPost();">버튼</button>
        </form>
        <button onclick="sendPost();">sendPost</button>
        
        <!-- button type 값은 지정하지 않으면 기본값은 submit
        submit은 form을 기본적으로 전송한다. form전송을 하면 페이지가 이동한다.
        onclick은 함수를 전송한다. 
        이를 동시에 한다고 했을 때 함수를 볼 수가 없게 된다. 왜냐하면 페이지가 바꾸기 때문이다. 
        그래서 위와 같이 form안에서 button type을 "button"이라 submit을 해줘야 한다. -->
        
    </body>
</html>