<html>
    <head>
        <title>로그인</title>
        <style>
            h3 {color:black; text-align: center; margin-top: 200px;}
        </style>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <h3>로그인</h3>
        <form id="form_info" action="receive3" method="Post" style="margin: auto; width: 300px;">
            <br>
            <legend>ID</legend>
            <label>
                <input type="text" name="id" style="margin: auto; width: 300px;" required> 
            </label><br>
            <br>
            <legend>비밀번호</legend>
            <label>
                <input type="password" name="password" style="margin: auto; width: 300px;" required> 
            </label><br>
            <br>
            <button type="submit" style="margin: auto; width: 300px; background-color: green; border: 0ch;">로그인</button>
        </form>
    </body>
</html>
