<html>
    <head>
        <title>receive2</title>
    </head>

    <body>
        아이디  <%=id%> <br>
        비밀번호  <%=password%> <br>
        이름  <%=name%> <br>
        나이  <%=age%> <br>
    </body>
</html>