<html>
    <head>
        <title>이미지 페이지(파일 업로드)</title>
    </head>

    <body>
        <div>
            <!-- <img src="/abc/aa/sesac.jpg" width="300" height="300"> -->
            <img src="<%=filename%>" width="300" height="300">
        </div>
    </body>
</html>